@tailwind base;
@tailwind components;
@tailwind utilities;



html, body,
:root{
  height: 100%;
  /* background-image: linear-gradient(-45deg,#002E09,#001857,#600000); */
  color-scheme: dark;
}

/* Hide scrollbar buttons for Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar-button {
  display: none;
}

.background-image-opacity::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1; /* 10% opacity */
  z-index: -1;
}


/* Hide scrollbar buttons for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888888 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
