/* songItem.module.css */
.hover-border-gradient {
    position: absolute;
    content: '';
    border-radius: inherit;
    background: linear-gradient(45deg, #4f46e5, #e453ed, #1ec7d3);
    border: 2px solid transparent;
    background-clip: padding-box; /* Prevents the gradient from extending outside the border */
    z-index: -1; /* Ensure it stays behind the content */
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s ease; /* Smooth transition on hover */
  }
  
  .group:hover .hover-border-gradient {
    opacity: 1; /* Show the gradient border on hover */
  }
  

  .backgroundImageOpacity {
    position: relative;
    z-index: 0;
  }
  
  .backgroundImageOpacity::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1; /* 10% opacity */
    z-index: -1;
  }
  